@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Varela+Round&display=swap');
@import url('https://fonts.cdnfonts.com/css/magneto');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }


h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 20px;
}

.section-m1{
    margin: 30px 0px;
}

body{
    background-color: white;
    width: 100%;
    /* height: 100%; */
}

/*Header Starts*/
/* #header{
    display: flex;
    align-items: center;
    justify-content: space-between; */
    /* background-color: #020122; */
    /* background-color: #131635; */
    /* height: 15vh;
    margin: 3px;
    border-radius: 24px 24px 24px 24px;
    z-index: 500;
    position: sticky;
    top: 0;
    left: 0;
    
} */

.magneto{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 15vh;
    margin: 3px;
    width: 100%;
    border-radius: 2px solid white;
    border-radius: 15px 15px 15px 15px;
    border: none;
    background-color: #211A1E;
    /* background-color: rgba(247, 247, 247, 0.854); */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    z-index: 500;
    position: sticky;
    top: 0;
    left: 0;

}

.magneto:hover{
    
    background-color: #131635;
}

.text{
    display: flex;
    height: 90%;
    align-items: center;
    /* align-content: center; */
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: baseline;

}



#header .logo{
    display: flex;
    justify-content: center;
    margin-left: 50px;
    height: 100%;

}

#navbar{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    font-family: Playfair;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgba(241, 240, 240, 0.477);
    transition: color 0.1s ease-out;
    
}

#navbar li a:hover,
#navbar li a.active{
    color: #ffffff; 
}

#hero{
    height: 80vh;
    color: white;
    position: relative;
}
#hero video{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: -2;
}

#hero{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    justify-content: center;
}

#hero h4{
    color: white;
    font-size: 30px;
    padding-bottom: 15px;
}

#hero h2{
    color: white;
}

#hero h1{

    color: #f3f706;
}

#hero p{
    color: #efefef;
    font-weight: bold;
}

.hero button{

    position: relative;
    font-family: monospace;
    /* background-image: url(img/button.png); */
    background-color: black;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 8px 50px;
    text-transform: uppercase;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    transition: background-color .2s ease-in-out, color .4s ease-in-out,border-color .4s ease-in-out;
}

.hero button:hover{
    background-color: #fff;
    color: black;
}


#feature{
    
    /* background-color: rgb(19, 19, 19); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#feature .fe-box{
    width: 100px;
    text-align: center;
    padding: 15px 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.03);
    /* border: 1px solid #e3dddd; */
    border-radius: 5px;
    margin: 15px 0;
}

#feature .fe-box img{
    height: 90px;
    width: 90px;
    border: none;
    
}

#feature .fe-box :hover{

    box-shadow: 10px 10px 54px rgba(252, 252, 252, 0.744);

}

#feature .fe-box h6{

    font-family: monospace;
    /* border: 2px solid red; */
    background-color: rgb(32, 30, 30);
    color: white;
    margin-top: 4px;
    /* display: inline-block; */
    padding: 8px 10px;
    line-height: 1;
    border-radius: 4px;
}

#pheader{
    margin: 20px;
    background-image: url(banners/f_banner.png);
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
}
#pheader h2,p{
    margin: 5px;
    color: white;
}

#pheader p{
    color: #f3f706;
}

#product1 .pheader{
    background-color: rgb(5, 44, 56);
}

#product1 .pheader h2,p{
    color: white;
}

/* #product1{
    background-color: rgb(0, 0, 0);
} */

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    /* padding-top: 20px; */
    flex-wrap: wrap;
}

#product1 .pro{
    width: 15%;
    min-width: 250px;
    padding: 10px 12px;
    /* background: rgba(116, 116, 112, 0.129); */
    border-radius: 20px;
    /* border: 1px solid #80523A; */
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 15px;
    transition: box-shadow 0.5s ease-out;
    position: relative;

}

#product1 .pro:hover{

  box-shadow: 20px 20px 30px rgba(0,0,0,0.1);
}

#product1 .pro img{
    width: 100%;
    /* border: 0.5px solid #022143; */
    border-radius: 35px;

}

#product1 .pro .des{

    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{

    font-family: magneto;
    color: rgb(189, 48, 48);
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: black;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#product1 .pro .des i{
    font-size: 12px;
    color: gold;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(13, 13, 13);
}

#product1 .pro .cart{
    /* display: block; */
    margin: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #EBEBD3;
    font-weight: 500;
    color: #083D77;
    border: 2px solid #EBEBD3;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product1 .pro .cart span{
    padding: 12px;
    text-align: center;
}
#banner{
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
    background-image: url(banners/s_banner.png);
    filter: blur(0.5px);
    padding: 5px;
    width: 100%;
    height: 60vh;
    /* border-radius: 15px; */
    border-radius: 10px 5% / 20px 30px;
    /* border-radius: 10px 100px / 120px; */
    background-size:cover;
    box-shadow: 10px 10px 30px rgba(219, 195, 17, 0.331);
    transition: box-shadow 1s ease-in-out;
    /* background-repeat: no-repeat; */
    background-position: start;

    /* z-index: -2; */
    
}

#banner:hover{

    box-shadow: 10px 10px 30px rgba(219, 195, 17, 0.155);
    /* right bottom */
}

#banner .text-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: inherit;
    align-content: center;
    height: fit-content;
    padding: 20px;
    background-color: #ffffffdb;
    border-radius: 3px;
    /* border: 2px solid black; */
}




#banner .text-container h4{
    font-family: monospace;
    text-align: center;
    /* margin: 15px; */
    color: rgb(21, 21, 22);
    font-size: 30px;
    letter-spacing: 25px;
    padding: 0 100px;

}

#banner .text-container h2{
    font-family: monospace;
    color: rgb(18, 5, 55);
    font-size: 20px;
    /* padding: 10px 0; */
}

#banner .text-container h2 span{
    color: rgb(231, 13, 13);
    font-size: 30px;
    /* padding: 10px 0; */
}

#banner .text-container h3{
    color: rgb(46, 15, 15);
    padding: 10px;
}

#banner button{

    position: relative;
    font-family: monospace;
    /* background-image: url(img/button.png); */
    background-color: black;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 8px 50px;
    text-transform: uppercase;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    transition: background-color .2s ease-in-out, color .4s ease-in-out,border-color .4s ease-in-out;
}

#banner button:hover{
    
    background-color: #fff;
    color: black;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(banners/banner1.png);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

#containerSlider {
    margin: auto;
    width: 90%;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
}

#containerSlider img {
    width: 100%;
    height: 140%;
    text-align: center;
    align-content: center;
}

@media(max-width: 732px) {
    #containerSlider img {
        height: 12em;
    }
}

@media(max-width: 500px) {
    #containerSlider img {
        height: 10em;
    }
}

.banner { margin: 30px 0;

    border-radius: 15px;
    border: 5px solid black;

}

.slider-container {
    background-color: black;
    display: flex;
    align-items: start;
    gap: 10px;
    border-radius: 10px;
    height: 30%;
    overflow: auto hidden;
    scroll-snap-type:inline mandatory;
    overscroll-behavior-inline:contain;
}


.slider-item {
  position: relative;
  min-width: 100%;
  max-height: 450px;
  aspect-ratio: 1/1;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  scroll-snap-align: center;
}

.slider-item .banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15PX;
  /* object-position: r; */
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsla(0, 0%, 100%, 0.8);
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    padding: 20px 25px;
    border-radius: 20px;
}

.banner-subtitle {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.banner-title {
  color: rgb(35, 79, 111);
  font-size: 15px;
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 20px;
}

.banner-text { display: none; }

.banner-btn {
    position: relative;
    font-family: monospace;
    /* background-image: url(img/button.png); */
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    padding: 8px 50px;
    text-transform: uppercase;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
}

/* #sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #020122;
    padding-bottom: 0;
} */

/* #sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-image: url("banners/b10.jpg");
    min-width: 700px;
    height: 50vh;
    margin-top: 2px;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    padding: 30px;
} */

/* #sm-banner .banner-box2{
    background-image: url("banners/b9.jpg");
    border-radius: 2px;
    
} */

/* #sm-banner h4{
    color: #282942;
    font-size: 20px;
    font-weight: 300;
} */

/* #sm-banner h2{
    color: rgb(237, 18, 18);
    font-weight: 800;
} */

/* .banner-box span{
    font-weight: 500;
    margin: 5px;
} */

/* .banner-box button{

    position: relative;
    font-family: monospace;
    background-color: #E1F2FE;
    color: black;
    border-radius: 3px;
    border: none;
    padding: 8px 50px;
    text-transform: uppercase;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    transition: background-color .2s ease-in-out, color .4s ease-in-out,border-color .4s ease-in-out;
} */
/* #sm-banner .banner-box:hover button{
    background-color: rgb(85, 153, 209)
    
} */

.newsletter{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
    /* background-image: url("banners/f_banner.png"); */
    background-position: 20% 30%;
    border-radius: 5px;
    background-color: #020122;
    
}

.newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}
.newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #f3f706;
}

.newText{
    margin:15px
}

.newsletter p span{
    color: red;
}

.newsletter .form{
    display: flex;
    width: 40%;
}

.newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
}

.newsletter button{
    width:9rem;
    border-radius: 4px;
    border: none;
    background-color: #05315a;
    color: white;
    white-space: nowrap;

}

.footer{
    border-top: 1px solid white;
    padding: px;
    /* padding: 0px; */
    /* margin: 0px; */
    background-color: #232220;
}

footer img{
    height: 100px;
}

.col{
    display: flex;
    flex-direction: column;
}
.col img{height: 100px;}
.col h4{color: rgb(216, 179, 29);}
.col p,a{color: white;
font-style: italic;
text-decoration: none;
}


.footer{

    height: 500px;
    width: 100%;
    /* background-color: black; */
}
