@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Varela+Round&display=swap');
@import url('https://fonts.cdnfonts.com/css/magneto');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.borderup{
    height: 2.65rem;
    background-color: #022143;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 20px;
}

.section-m1{
    margin: 30px 0px;
}

body{
    background-color: white;
    width: 100%;
    /* height: 100%; */
}

/*Header Starts*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px 80px; */
    background-color: rgb(17, 17, 17);
    /* box-shadow: 10px 5px 5px red;; */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.434);
    /* border-boittom: 1px solid #008178; */
    z-index: 999;
    /* mix-blend-mode: multiply; */
    position: sticky;
    top: 0;
    left: 0;
    
}

#header .logo{
    height: 70px;
    width: 90px; 
}

#navbar{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    font-family: monospace;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgba(241, 240, 240, 0.722);
    transition:  0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #ffffff; 
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2.5px;
    background: rgb(58, 9, 9);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*Home Page*/
#hero{
    background-image: url("img/hero1.png");
    height: 85vh;
    width: 100%;
    /* background-color: #424342; */
    margin-top: px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top 0.5 right 0;
    padding:  50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    justify-content: center;
    
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{

    color: #1a5756;
}

#hero p{
    color: #282942;
    font-weight: bold;
}

.hero button{

    position: relative;
    font-family: monospace;
    /* background-image: url(img/button.png); */
    background-color: black;
    color: white;
    border-radius: 3px;
    border: none;
    padding: 8px 50px;
    text-transform: uppercase;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
}


#feature{
    
    /* background-color: rgb(19, 19, 19); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#feature .fe-box{
    width: 100px;
    text-align: center;
    padding: 15px 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.03);
    /* border: 1px solid #e3dddd; */
    border-radius: 5px;
    margin: 15px 0;
}

#feature .fe-box img{
    height: 90px;
    width: 90px;
    border: none;
    
}

#feature .fe-box :hover{

    box-shadow: 10px 10px 54px rgba(252, 252, 252, 0.744);

}

#feature .fe-box h6{

    font-family: monospace;
    /* border: 2px solid red; */
    background-color: rgb(32, 30, 30);
    color: white;
    margin-top: 4px;
    /* display: inline-block; */
    padding: 8px 10px;
    line-height: 1;
    border-radius: 4px;
}

#pheader{
    margin-bottom: 80px;
    background-image: url(banners/f_banner.png);
    display: flex;
    flex-direction: column;
    /* height: 9rem; */
    padding: 30px;
    text-align: center;
    /* background-color: #022143; */
    /* position: sticky;
    top: 0;
    left: 300; */
}
#pheader h2,p{
    margin: 5px;
    color: white;
}

/* #product1{
    text-align: center;
} */

#product1 .pheader{
    background-color: rgb(5, 44, 56);
}

#product1 .pheader h2,p{
    color: white;
}

#product1{
    /* background-color: rgb(0, 0, 0); */
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    /* padding-top: 20px; */
    flex-wrap: wrap;
}

#product1 .pro{
    width: 15%;
    min-width: 250px;
    padding: 10px 12px;
    /* background: rgba(116, 116, 112, 0.129); */
    border-radius: 20px;
    /* border: 1px solid #80523A; */
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 15px;
    transition: 0.5 ease;
    position: relative;

}

#product1 .pro:hover{

  box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#product1 .pro img{
    width: 100%;
    /* border: 0.5px solid #022143; */
    border-radius: 35px;

}

#product1 .pro .des{

    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{

    font-family: magneto;
    color: rgb(189, 48, 48);
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: black;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#product1 .pro .des i{
    font-size: 12px;
    color: gold;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(13, 13, 13);
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: white;
    font-weight: 500;
    color: #68662f;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
    background-image: url(banners/s_banner.png);
    padding: 5px;
    width: 100%;
    height: 60vh;
    border-radius: 15px;
    border: 5px solid rgb(0, 0, 0);
    background-size:cover;
    /* background-repeat: no-repeat; */
    background-position: start;
    
}

#banner .text-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: inherit;
    align-content: center;
    height: fit-content;
    padding: 20px;
    background-color: #ffffffdb;
    /* border: 2px solid black; */
}


#banner .text-container h4{
    font-family: monospace;
    text-align: center;
    /* margin: 15px; */
    color: rgb(21, 21, 22);
    font-size: 30px;
    letter-spacing: 25px;
    padding: 0 100px;

}

#banner .text-container h2{
    font-family: monospace;
    color: rgb(18, 5, 55);
    font-size: 20px;
    /* padding: 10px 0; */
}

#banner .text-container h2 span{
    color: rgb(231, 13, 13);
    font-size: 30px;
    /* padding: 10px 0; */
}

#banner .text-container h3{
    color: rgb(46, 15, 15);
    padding: 10px;
}

#banner button{

    position: relative;
    font-family: monospace;
    /* background-image: url(img/button.png); */
    background-color: rgb(17, 16, 16);
    color: rgb(243, 235, 235);
    border-radius: 3px;
    border: none;
    padding: 8px 50px;
    text-transform: uppercase;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    border: none;
    outline: none;
    transition: 0.2s;
}

#banner button:hover{
    
    background-color: rgb(226, 194, 10);
    color: rgb(55, 12, 12);
    transition: 0.2s
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(banners/banner1.png);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

#containerSlider {
    margin: auto;
    width: 90%;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
}

#containerSlider img {
    width: 100%;
    height: 140%;
    text-align: center;
    align-content: center;
}

@media(max-width: 732px) {
    #containerSlider img {
        height: 12em;
    }
}

@media(max-width: 500px) {
    #containerSlider img {
        height: 10em;
    }
}

.banner { margin: 30px 0;

    border-radius: 15px;
    border: 5px solid black;

}

.slider-container {
    background-color: black;
    display: flex;
    align-items: start;
    gap: 10px;
    border-radius: 10px;
    height: 30%;
    overflow: auto hidden;
    scroll-snap-type:inline mandatory;
    overscroll-behavior-inline:contain;
}


.slider-item {
  position: relative;
  min-width: 100%;
  max-height: 450px;
  aspect-ratio: 1/1;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  scroll-snap-align: center;
}

.slider-item .banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15PX;
  /* object-position: r; */
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsla(0, 0%, 100%, 0.8);
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
    padding: 20px 25px;
    border-radius: 20px;
}

.banner-subtitle {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.banner-title {
  color: rgb(35, 79, 111);
  font-size: 15px;
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 20px;
}

.banner-text { display: none; }

.banner-btn {
    position: relative;
    font-family: monospace;
    /* background-image: url(img/button.png); */
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    padding: 8px 50px;
    text-transform: uppercase;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(banners/b10.jpg);
    min-width: 700px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;

}